<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The expired food is <%= @fooduser.name %></h1>
    <p>
      Foods that are about to expire in your current grocery list are: 
    </p>
  </body>
</html>